@page
@model Home_Work_1.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br>
<br>
<p>
    <h2>Задание 1</h2>
    Создайте и запустите базовое приложение ASP.NET
    Core, построенное на основании ASP.NET Razor Pages.
    <h2>Задание 2</h2>
    Создайте и запустите базовое приложение ASP.NET
    Core, построенное на основании ASP.NET Razor Pages.
    Выведите надпись «Hello, World!» внутри веб-страницы.
    <h2>Задание 3</h2>
    Создайте и запустите базовое приложение ASP.NET
    Core, построенное на основании ASP.NET Razor Pages.
    Выведите текущую дату и время внутри веб-страницы.
    <h2>Задание 4</h2>
    Создайте и запустите базовое приложение ASP.NET
    Core, построенное на основании ASP.NET Razor Pages.
    Выведите строку из файла appsettings.json.
    <h2>Задание 5</h2>
    Создайте и запустите базовое приложение ASP.NET
    Core, построенное на основании ASP.NET Razor Pages. Добавьте новую страницу в базовый каркас. На этой странице
    нужно выводить случайную цитату и автора этой цитаты.
</p>