@page
@model Home_Work_1.Pages.Task_4Model
@{
    ViewData["Title"] = "Task 4";
}

<div>
    Создайте и запустите базовое приложение ASP.NET
    Core, построенное на основании ASP.NET Razor Pages.
    Выведите строку из файла appsettings.json.
</div>
<br/>
<br/>
<div>@Model.MyName</div><br/>
<div>@Model.MyAge</div><br/>
<div>@Model.MyTitle></div>