@using Home_Work_12_MVC
@{
    Layout = null;
    string[] cities = { "Лондон", "Париж", "Берлин" };
    string[] countries = { "Великобритания", "Франция", "Германия" };
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
@Html.GetTime()
@Html.GetOsVersion()
</body>
</html>