* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

.cont {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 120px;
}

.cont header {
    color: cornflowerblue;
    font-size: 30px;
    font-family: "Segoe UI", serif;
    align-self: center;
}

.cont main div, h2, ul {
    color: white;
    margin: 20px 70px;
    font-size: 25px;
    font-family: "Segoe UI", serif;
}

.cont main h2 {
    font-size: 30px;
}

.cont ul li {
    margin-top: 40px;
}

.cont ul li b {
    margin-right: 10px;
}

footer {
    margin: 20px auto;
    font-family: "Segoe UI", serif;
    font-size: 25px;
}

#message__for__moderator {
    z-index: 1;
    width: 250px;
    position: absolute;
    font-family: "Segoe UI", serif;
    font-size: 20px;
    background: #333333;
    color: white;
    left: 70px;
    top: 90px;
    border: 1px solid #ffffff;
    padding: 5px;
    transition: 500ms ease-out;
    border-radius: 5px;
}

#message__for__moderator:hover {
    background: #000000;
}

.modal-content {
    display: none;
    flex-direction: column;
    z-index: 999999;
    top: 200px;
    align-self: center;
    position: fixed;
    width: 700px;
    max-width: 700px;
    height: 350px;
    max-height: 350px;
    background: #333333;
    border-radius: 7px;
}

.modal__text {
    background: #333333;
    vertical-align: top;
    height: 90%;
    width: 100%;
    resize: none;
    color: white;
    font-family: "Segoe UI", serif;
    font-size: 25px;
}

.buttons__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modal-bth-submit, .modal-bth-close {
    font-size: 20px;
    font-family: "Segoe UI", serif;
    font-weight: 600;
    margin-left: 20px;
    padding: 5px;
}