@import url('https://fonts.googleapis.com/css2?family=Monda&family=Mukta&family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
}

html,body {
    height: 100vh;
    width: 100vw;
    background: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top__panel {
    width: 920px;
    max-width: 920px;
    background: #292929;
    padding: 5px;
    height: 70px;
    max-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.top__panel a {
    text-decoration: none;
    font-family: 'Monda', sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    color: white;
    transition: color 150ms ease-in;
    border: 2px solid #292929;
}

.top__panel a:focus-visible {
    border-radius: 13px;
    outline: none;
    border: 2px solid #1f6bb9;
    transition: 200ms linear;
}

.top__panel a:hover {
    color: #2196f3;
}