@page
@model Home_Work_4.Pages.About

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter Strike : Global Offensive - About</title>
    <link rel="stylesheet" href="css/About.css" type="text/css">
</head>
<body>

<div class="background-image">
    <div class="dark-overlay"></div>
    <div class="content">
        <nav>
            <a href="/Task2">Home</a>
        </nav>
        <div class="shift-1">
            Counter-Strike: Global Offensive (CS:GO) — это многопользовательская компьютерная игра в жанре шутера от первого лица,
            разработанная и выпущенная компанией Valve. CS:GO является четвертой игрой в серии Counter-Strike и представляет собой
            продолжение популярной модификации для игры Half-Life.
        </div>
        <div class="shift-2">
            Игра сохраняет основные принципы и механику предыдущих частей серии, такие как командный многопользовательский режим,
            в котором игроки делятся на две команды: террористы и контртеррористы, и целью одной из команд является выполнение
            определенных задач, а другой — их предотвращение.
        </div>
        <div class="shift-3">
            CS:GO предлагает разнообразные режимы игры, включая классические режимы "Оборона бомбы" и "Освобождение заложников",
            а также другие вариации и дополнительные режимы, такие как соревновательный режим, разборку оружия и многие другие.
        </div>
        <div class="shift-4">
            В игре присутствует система покупки оружия и снаряжения на начало каждого раунда на основе заработанных внутриигровых денег.
            Также CS:GO известна своей системой скинов и предметов, которые можно приобрести или получить в игре и применить к оружию для изменения его внешнего вида.
        </div>
        <div class="shift-5">
            Counter-Strike: Global Offensive активно поддерживается разработчиками и регулярно обновляется, включая новые карты, режимы, оружие и многие другие дополнения,
            чтобы обеспечить игрокам интересное и разнообразное игровое взаимодействие.
        </div>
    </div>
</div>
</body>
</html>