@page
@model Task_3Model
@{
    ViewData["Title"] = "Task 3";
}

<div>
    Задание 3
    Создайте и запустите базовое приложение ASP.NET
    Core, построенное на основании ASP.NET Razor Pages.
    Выведите текущую дату и время внутри веб-страницы.
</div>
<br/>
<div style="font-size: 30px">Текущая дата и время @Model._dateTime</div>