@page
@model Home_Work_1.Pages.Task_2Model
@{
    ViewData["Title"] = "Task 2";
}

<div>Задание 2
    Создайте и запустите базовое приложение ASP.NET
    Core, построенное на основании ASP.NET Razor Pages.
    Выведите надпись «Hello, World!» внутри веб-страницы
</div>
<br/>
<div style="font-size: 25px; font-weight: 500">@Model.SayHelloWorld</div>