@page "book"
@model Home_Work_5.Pages.book

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book</title>
</head>
<body style="background: black">
<div style="color: white"> HELLO BOOK @Model._id</div>
</body>
</html>