@page
@model Home_Work_4.Pages.Gallery

<!DOCTYPE html>

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/Gallery.css" type="text/css">
    <title>Counter Strike : Global Offensive - Gallery</title>
</head>
<body>
<div class="content">
    <nav>
        <a class="hButton__Home" href="/Task2">Home</a>
    </nav>
    <div class="gallery__wrapper">
        <img class="fade-image" src="Images/Gallery/CS_GO Wallpaper1.png" height="500" width="900"/>
        <img class="fade-image" src="Images/Gallery/CS_GO Wallpaper2.jpg" height="500" width="900"/>
        <img class="fade-image" src="Images/Gallery/CS_GO%20Wallpaper3.jpg" height="500" width="900"/>
        <img class="fade-image" src="Images/Gallery/CS_GO Wallpaper4.png" height="500" width="900"/>
    </div>
</div>
<script src="js/js.js"></script>
</body>
</html>