@page
@model Home_Work_4.Pages.Index

@{
    Layout = "_Layout";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Work 4</title>
    <link type="text/css" rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="main__content">
    <h2>Задание 1</h2>
    <header>
        Создайте базовое приложение ASP.NET Core,
        построенное на основании ASP.NET Razor Pages.
        Реализуйте выполнение каждого следующего задания
        на новой Razor-странице. Каждая Razor-страница
        должна отображаться в меню проекта и вверху каждой
        страницы обязательно должно быть размещено
        условие конкретного задания. Используйте
        возможности CSS для форматирования контента
        Razor-страниц.
    </header>
    <p>
        1. Выведите: номер текущего дня в году, а также
        информацию о том, какой сейчас год, с указанием, он
        высокосный или нет.
    </p>
    <p>
        2. В зависимости от случайного значения
        отображайте фразу, которая состоит от 5 до 10
        символов английского алфавита, буквы могут быть
        большими и маленькими.
    </p>
    <hr/>
    <h2>Задание 2</h2>
    <header>
        Создайте на основе базового приложения ASP.NET
        Razor Pages веб-сайт визитку на 3-5 Razor-страниц о
        любом товаре или услуге, например о своем хобби.
        Желательно модифицируйте базовую мастер-страницу.
        На Razor-страницах используйте изображения,
        списки, таблицы, CSS.
    </header>
</div>
</body>
</html>