@page
@model Home_Work_4.Pages.News

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter Strike : Global Offensive - News</title>
    <link rel="stylesheet" href="css/News.css" type="text/css">
</head>
<body>
<div class="background-image">
    <div class="content">
        <nav class="top__bar__panel">
            <a href="/Task2">Home</a>
        </nav>
        @for (var i = 0; i < Model._news.Count; i++)
        {
            <div class="news__container">
            </div>
        }
    </div>
</div>
</body>
</html>