@page
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter Strike : Global Offensive</title>
    <link rel="stylesheet" href="css/task2.css" type="text/css">
</head>
<body>
<div class="main__container">
    <header class="top__bar__panel">
        <a href="/">Home Works</a>
        <a href="/About">About</a>
        <a href="/News">News</a>
        <a href="/Gallery">Gallery</a>
    </header>
</div>
</body>
</html>