@page
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter Strike : Global Offensive</title>
    <link rel="stylesheet" href="css/task2.css" type="text/css">
</head>
<body>
<div class="main__container">
    <header class="top__bar__panel">
        <a href="/">Home Works</a>
        <a href="/Task2">Home</a>
        <a href="/About">About</a>
        <a href="/News">News</a>
        <a href="#">Gallery</a>
    </header>
    <div class="top__content">
        Присоединяйтесь к миллионам игроков по всему миру и окунитесь в атмосферу
        настоящего соревнования, тактической борьбы и невероятных моментов. CS:GO
        – это не просто шутер, это стиль жизни, это страсть к совершенствованию и великие победы!
    </div>
    <div class="top__right__content">
        <h2>Сообщество единомышленников:</h2> Присоединяйтесь к форумам, общайтесь с другими игроками, делись
        своим опытом и участвуйте в обсуждениях. Мы – большая и дружелюбная семья CS:GO, где всегда
        найдется место для новых игроков.
    </div>
    <div class="bottom_left__content">
        <h2>Соревновательный дух:</h2>Вступите в сражение на карты различных локаций, где каждый ход,
        каждая стратегия и каждый выстрел имеют значение. Станьте частью команды, которая сможет
        реализовать гениальный план и завоевать вершину рейтингов.
    </div>
    <div class="bottom_right__content">
        <h2>Турниры и чемпионаты:</h2> Мечтаете о славе и признании? Участвуйте в турнирах и соревнованиях,
        сражайтесь за призовые места и заслуженное уважение в мире электронных спорта.
    </div>
</div>
</body>
</html>