@{
    ViewBag.Title = " | Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<main>
    <p>
    <h2>Задание 1</h2>
    <span>
        На основе шаблона ASP.NET Core Empty. Добавьте в приложение
        использование паттерна MVC и сделайте контроллер, который при
        получении запроса будет отправлять на клиент информацию о том: под
        управлением какой операционной системы работает сервер. Пример
        определения версии ОС найдите с помощью поисковой системы.
    </span>
    <h2>Задание 2</h2>
    <span>
        На основе шаблона ASP.NET Core Empty создайте сайт визитку и
        реализуйте следующую функциональность:
    </span>
    <div>
        <span>1. Самостоятельно добавьте использование паттерна MVC в вебприложение.</span>
        <span>2. Создайте один контроллер.</span>
        <span>3. 3-5 представлений.</span>
        <span>4. Реализуйте другие возможности, которые рассмотрели на занятии.</span>
        <span>5. Дополнительный функционал веб-приложения (по желанию).</span>
    </div>
</main>