@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Home_Work_7
@model Home_Work_7.Pages.UsersManagement

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/UserManagement.css"/>
</head>
<body>
<div class="users__table__container">
    <table>
        <thead>
        <tr>
            <th>Логин</th>
            <th>Почта</th>
            <th colspan="4">
                <input type="button" id="bAddNewUser" value="Добавить пользователя"/>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Users._users)
        {
            <tr>
                <form method="POST">
                    <td>
                        <input type="hidden" name="guid" value="@user.guid"/>
                        <input class="input__title" readonly="readonly" title="@user.login" name="Title" value="@user.login"/>
                    </td>
                    <td>@user.email</td>
                    <td></td>
                    <td>
                        <button class="editU">Изменить</button>
                    </td>
                    <td>
                        <button asp-page-handler="DeleteUser" class="deleteU">Удалить</button>
                    </td>
                </form>
            </tr>
        }
        </tbody>
    </table>
</div>

<form method="post" class="modal__create__user__form" autocomplete="off">
    <input id="guid" type="hidden" name="guid" value=""/>
    <label for="user__login">Логин</label>
    <input id="user__login" name="login" type="text">
    <label for="user__password">Пароль</label>
    <input id="user__password" name="password" type="password">
    <label for="user__email">Почта</label>
    <input id="user__email" name="email" type="email">
    <div>
        <input class="modal_button" type="button" value="Создать"/>
        <input class="modal_button" type="button" value="Закрыть"/>
    </div>
</form>

<script src="scripts/UserManagement.js"></script>
</body>
</html>