@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<a href="/Task1">Task 1</a>
<a href="/Task2">Task 2</a>
@RenderBody()
</body>
</html>