@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>Home Work 7</title>
    <link href="css/layout.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="top__bar__panel">
    <a href="/">Home</a>
    <a asp-page="UsersManagement">Users Management</a>
    <a asp-page="BookManagement">Book Management</a>
    <a asp-page="Registration">Registration</a>
</div>
@RenderBody()
</body>
</html>