@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="css/layout.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="top__bar__panel">
    <a href="/">Home</a>
    <a asp-page="">Users Management</a>
    <a asp-page="">Book Management</a>
    <a asp-page="">Registration</a>
</div>
@RenderBody()

</body>
</html>