@model dynamic

@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/styles/login.css">
</head>
<header class="website_header">
    <div>Chat Fusion</div>
</header>
<body class="background__color">
<form class="login__form" autocomplete="off">
    <div class="title_login">Вход</div>
    <div class="error_auth">Неверный Логин или Пароль</div>
    <label for="login">Введите логин <span id="error_login" class="Error_Message"> </span></label>
    <input type="text" required="required" id="login" name="Login">
    <label for="password">Введите пароль<span id="error_password" class="Error_Message"> </span></label>
    <input type="password" required="required" id="password" name="Password">
    <div class="NotHaveAccount">Нет аккаунта?<a href="/Registration">Регистрация</a></div>
    <input value="Войти" type="button" id="login__button">
</form>
<script src="~/scripts/Validator.js"></script>
<script src="~/scripts/login_Validation.js"></script>
</body>
</html>