<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
             <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                         <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>@ViewData["Title"]</title>
<link rel="stylesheet" href="css/_layout.css" type="text/css">
</head>
<body>
<nav>
    <a>Home Work 4</a>
    <a href="/Task1">Task 1</a>
    <a href="/Task2">Task 2</a>
</nav>
@RenderBody()
</body>
</html>